<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="primary">Location Information</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        <ion-text color="dark"> 
          121, Clear Water Bay Road Clear Water Bay, Kowloon HONG KONG
        </ion-text>
      </p>
      <p>
        <ion-icon name="call" color="dark"></ion-icon>: 
        <ion-text color="dark">+852 1234 5678</ion-text>
      </p>
      <p>
        <ion-icon name="print" color="dark"></ion-icon>: 
        <ion-text color="dark">+852 8765 4321 </ion-text>
      </p>
      <p>
        <ion-icon name="mail" color="dark"></ion-icon>: 
        <ion-text color="dark">confusion@food.net</ion-text>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>