.btn-facebook {
    --color: var( --ion-color-tertiary-contrast);
    --background: var( --ion-color-facebook);
}

.btn-google-plus {
    --color: var( --ion-color-tertiary-contrast);
    --background: var( --ion-color-googleplus);
}

.btn-youtube {
    --color: var( --ion-color-tertiary-contrast);
    --background: var( --ion-color-youtube);
}

.btn-linkedin {
    --color: var( --ion-color-tertiary-contrast);
    --background: var( --ion-color-linkedin);
}

.btn-twitter {
    --color: var( --ion-color-tertiary-contrast);
    --background: var( --ion-color-twitter);
}

.btn-mail {
    --color: var( --ion-color-tertiary-contrast);
    --background: var( --ion-color-primary);
}